
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Regular.ttf') format('ttf');
	font-display: swap;
	font-style: normal;
}

.wrapper{
	overflow-x: hidden;
}

.header__top{
	height: 29px;
	background: #000000;
	font:  normal 400 12px/15px 'Roboto';
	letter-spacing: 2px;
	color: #FBFBFB;
	display: flex;
	align-items: center;
	justify-content: center;
}

.heder__logo-menu{
	display: flex;
	align-items: center;
}

.header__bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.heder__menu{
	display: flex;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000000;

}

.header__menu-link{
	margin-right: 22px;
	transition: all 0.3s ease;
	cursor: pointer;
}

.header__menu-link:hover{
	color: #FF4A32;
}

.header__icons{
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section1{
	background-image: url("../image/fon.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 810px;
	padding-top: 53px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section1__title{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 51px;
	color: #000000;
	margin-bottom: 14px;
}

.section1__description{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	letter-spacing: 1px;
	color: #000000;
}

.section1__btn-container{
	margin: 23px 0 0;
}

.btn{
	background: #FF4A32;
	height: 33px;
	width: 201px;
border-radius: 35px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.section3__text{
	margin: 0 auto;
	max-width: 685px;
	margin-bottom: 72px;
}

.section3{
	padding: 52px 0 20px;
}

.section3__text h2{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 36px;
	text-align: center;
	color: #000000;
	margin-bottom: 17px;
}

.section3__text p{
	max-width: 685px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}

.container{
	margin: 0 auto;
	max-width: 1180px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.containerS3{
	margin: 0 auto;
	max-width: 1180px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.ddd{
	max-width: 580px;
}

.section3__img{
	max-width:  100%;
}


.section5{
	background-image: url("../image/fone2.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 810px;
	padding-top: 53px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section5 h2{
	font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 51px;

/* identical to box height, or 112% */
text-align: center;
margin: 11px 0 15px;
color: #000000;
}

.section5 p {
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 19px;

/* identical to box height, or 125% */
text-align: center;
letter-spacing: 1px;
max-width: 570px;
color: #000000;
}

.section6{
	padding: 44px 0 45px;
}

.section6__block{
	width: 339px;
	padding-top: 70px;
	box-sizing: border-box;
}

.section6__block h2{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	color: #000000;
	margin-bottom: 21px;
}

.section6__block p{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 18px;
	color: #000000;
}

.section5__btn{
	width: 101px;
	background: #FF4A32;
	border-radius: 35px;
	height: 33px;
	color: #fff;
}

button{
	transition: all 0.3s ease;
}

button:hover{
	background-color: #8a2419;
}

.section7{
	display: flex;
}

.section7__card{
	width: 33.3%;
	display: flex;
	position: relative;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	min-width: 257px;
	text-align: center;
	color: #FFFFFF;
}

.section7__card h2{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
}

.section7__img{
	width: 100%;
	height: 100%;
	object-fit: cover;	

}

.section7__block{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.section9{
	background-color: black;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 35px 60px 52px;
	flex-wrap: wrap;
}

.section9__card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	max-width: 270px;
}

.section9__img{
	height: 87px;
	width: 87px;
	margin: 0 auto;
}

.section9__card h2{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 31px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 25px;
}

.section10{
	padding: 50px 0;
	background-color: #F7F7F7;
}

.section10__container{
	display: flex;
	justify-content: space-between;
}

.section10__container{
	max-width: 1200px;
	margin: 0 auto;
}

.section10__right{
	max-width: 367px;
}

.section10 h2{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
}

.section10__middle li{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 21px;
	color: #000000;
}

.section10__central-p{
	margin: 12px 0 19px;
}

.footer__container{
	display: flex;
	justify-content: space-between;
	padding: 21px 130px 27px;
}

.section2{
	padding: 18px 191px 18px 195px;
	background-color: black;
	min-height: 83px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	gap:  20px;
}

.section6__block{
	height: 380px;
}


.section8 h2{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}

.section8{
	margin-top: 64px;
}


footer a{
	color: #FF4A32;
}
@media(max-width: 1165px){
	.section6 .container{
		justify-content: space-around;
		gap: 20px;
	}

	.section9{
		gap: 20px;
		justify-content: space-around;
	}

	.section3 .container{
		justify-content: center;
		border: 1px solid red;
		gap: 20px;
	}

	.section7__card{
		font-size: 14px;
	}

	.section7__card h2{
		font-size: 18px;
	}
}

@media (max-width: 1024px){
		.heder__menu{
			display: none;
		}

		.section3 .container{
			justify-content: space-around;
		}

	.section2{
		justify-content: space-around;
	}


	.section1{
		max-height: 500px;
	}

	.section5{
		max-height: 500px;
	}

	.footer__container{
	display: flex;
	justify-content: space-between;
	padding: 21px 10px 27px;
	}
}



@media(max-width:  768px){
	.section10__left{
		display: none;
	}
	.section10{
		padding-right: 10px;
		padding-left: 10px;
	}

	.section10__right{
		max-width: 250px;
	}

	.containerS3{
	flex-wrap: wrap;
	justify-content: center;
	}

	.section1 h1{
		font-size: 30px;
	}

	.section5 h2{
		font-size: 21px;
	}

	.ddd{
		max-width: 80%;
	}

	.section5 p{
		max-width: 500px;
	}

	.section1__description{
		text-align: center;
		max-width: 500px;
	}
	.section3__text {
		padding: 0 10px;
	}
	.section3__text h2{
		font-size: 21px;
	}
	.section3__text p{
		font-size: 15px;
	}

	.section7{
		justify-content: space-around;
		flex-wrap: wrap;
		gap:  20px;
	}

	.footer__container{
	gap: 15px;
	}

	.btn{
		max-width: 200px;
	}

}

@media(max-width: 738px){
	.section6 .container div{
		width: 80%;
	}

	.section6__img{
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.popup{
		width: 75%;
	}

	.section5{
		max-height: 400px;
	}
}

@media(max-width: 440px){
	.section1__btn-container{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		gap: 15px;
		margin-top: 10px;
	}

	.section1__title{
		max-width: 80%;
		text-align: center;
	}

	.section1__description{
		max-width: 80%;
	}

	.section10__container{
		flex-direction: column;
		max-width: 70%;
		gap: 20px;

	}
}

a.scroll{
	position: fixed;
	right: 30px;
	bottom: 30px;
	color: red;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	padding: 12px 13px;
	background-color: #FF4A32;
	transition: all 0.3s ease;
}

a.scroll:hover{
	background-color: #8a2419;
}

.scroll__img{
	height: 15px;
	width: 15px;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
	overflow: hidden;
}

.popup {
	position: absolute;
	max-width: 500px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	box-sizing: border-box;
	background-color: black;
	color: #fff;
	text-align: justify;
	font-size: 18px;
}

.popup h2{
	font-size: 25px;
	margin-bottom: 30px;
	text-align: center;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

.slider{
	display: flex;
	justify-content: space-between;
}

.slide{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #373737;
	max-width: 14.2857%;
}

.slide img{
	width: 100%;
	object-fit: cover;
}


.slide h3{
text-align: center;
}

.slide span{
	color:  #FF4A32;
}

.empty{
	height: 66px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 2px 0px 10px rgba(41, 44, 61, 0.34);
	border-radius: 0px;
	margin: 4px 0 28px;
}


/* Ограничивающая оболочка */ 
.slick-list {
	overflow: hidden;
} 

/* Лента слайдов */ 
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Точки (булиты) */ 
.slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
} 
.slick-dots li{
	list-style: none;
	margin: 0 10px;
} 

/* Активная точка */ 
.slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
} 

/* Элемент точки */ 
.slick-dots li button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50%;
} 

.slick button{
	display: none;
}

.slider {
	position: relative;
	width: 100%;


}
.slider .slick-arrow{
	opacity: 0;
}

.slick-arrow.slick-prev{
	display: none;
}

.slider .slick-arrow.slick-next{
	right: 0;

}

.scroll-hidden{
	overflow: hidden;
}